@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Akshar', sans-serif;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(21,68,66);
  background: radial-gradient(circle, rgba(21,68,66,1) 30%, rgba(0,0,0,1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

/* MENU BURGER */

.nav-menu {
  background-color: #154442;
  border: 1px solid #4AD2B7;
  border-right: #053C35;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 45vh;
  justify-content: center;
  line-height: 40px;
  position: fixed;
  right: -100%;
  top: 4rem;
  transition: 0.3s;
  width: 80%;
  z-index: 100;
}

.nav-menu a:hover {
  color: #4AD2B7;
  text-decoration: underline 4px #4AD2B7;
}

.nav-menu.active {
  right: 0;
}

.navbar {
  padding: 15px 6%;
}

.nav-item {
  margin: 0;
}

.nav-link {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
}

.nav-logo img{
  width: 7rem;
}

.nav-button {
  background-color: #0C272A;
  border: none;
  border-radius: 40px;
  color: #fff;
  margin: auto;
  padding: 0 30px;
  text-transform: capitalize;
}

.burger {
  display: block;
  cursor: pointer;
}

.burger.active .bar:nth-child(2) {
  opacity: 0;
}

.burger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* BODY */

main {
  padding: 0 6%;
}

.home {
  display: grid;
  gap: 20px;
}

.home h1 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: .1rem;
  text-transform: capitalize;
  word-spacing: .1rem;
}

.home-text {
  color: #7C9F9C;
}

.home-color {
  color: #4AD2B7;
  text-shadow : -.05em -.05em #154442,
                -2px -2px 0 #fff;
}

.fa-moon,
.fa-discord {
  color: #4AD2B7;
}

.home-buttons button {
  border: none;
  border-radius: 50px;
  letter-spacing: .03rem;
  margin-right: 10px;
  padding: 10px 3px;
  width: 120px;
}

.first-button {
  background-color: #4AD2B7;
  color: #053C35;
  font-weight: bold;
  text-transform: capitalize;
}

.second-button  {
  font-weight: bolder;
  color: #4AD2B7;
  text-transform: capitalize;
  background: transparent;
}

.home-buttons .second-button {
  border: 1px solid #4AD2B7;
}

.social-media h2 {
  color: #fff;
  font-size: .9rem;
  padding: 20px 0 5px 0;
}

.social-banner {
  background-color: #0C272A;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 85%;
}

.social-banner a {
  color: #fff;
  font-size: 18px;
  line-height: 0;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
  .navbar {
    padding-top: 30px;
  }
  .nav-menu {
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    height: auto;
    position: unset;
    width: auto;
  }
  .nav-link {
    text-transform: capitalize;
  }
  .nav-button {
    margin-left: 3%;
  }
  .home h1 {
    font-size: 3rem;
  }
  .home-text {
    width: 24rem;
  }
  .social-media h2 {
    padding: 35px 0 10px 0;
  }
  .social-banner {
    padding: 10px;
    width: 35%;
  }
}

@media screen and (min-width: 1024px) {
  .nav-link {
    margin-right: 20px;
  }
  .social-banner {
    width: 25%;
  }
}

@media screen and (min-width: 1440px) {
  .home h1 {
    font-size: 3.5rem;
  }
  .social-banner {
    width: 15%;
  }
}

/* MOON */

.home-illustration img {
  animation: rotation 35s infinite linear;
  filter: brightness(40%);
  margin-left: 100px;
  overflow-x: hidden;
  position: absolute;
  top: 100px;
  width: 500px;
  z-index: -1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  

@media screen and (min-width: 768px) {
  .home-illustration img {
    align-items:flex-end;
    animation: rotation 35s infinite linear;
    display: flex;
    justify-content: end;
    margin-left: 25rem;
    overflow-x:  hidden;
    width: auto;
  }
  
}

